body{
	background-color: #f2f2f2;
}

a{
	text-decoration: none;
	color: white;
}

header h1 {
	margin-left: 550px;
}

header img {
	margin-top: 50px;

}

ul {
	background-color: #ff8080;
	height: 40px;
	opacity: 0.75;
	margin-top: auto;
	text-indent: 400px;

}

ul li{
	display: inline;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	text-transform: uppercase;
	font-size: 18px;

}

section h1{
	color: #ff6666;
	font-family: 'Julius Sans One', cursive;
	font-size: 36px;
	padding: 20px;
	
}

section img{
	width: 500px;
	padding-left: 20px;

}

section p{
	font-family: 'Helvetica';
	margin-top: 20px;
	color: grey;
	padding: 20px;
}

footer p{
	background-color: #ff8080;
	font-family: 'Julius Sans One', cursive;
	color: white;
	font-size: 14px;
	text-align: center;
}

footer img{
	width: 35px;
}

.social{
	margin: auto;
}

.social li{
	float: left;
	margin-top: 30px;
}